body {
  text-align: : center;
  margin: 5;
}

.navbar {
  background-color: blue;
  overflow: hidden;
}

.navbar a {
  float: left;
  color: yellow;
  padding: 14px 20px;

}

.navbar a:hover {
  background-color: darkblue;

}

.maintext {
  font-family: Times, serif;
}
